modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Synapse Coordinator"

[[workflows.workflow]]
name = "Synapse Coordinator"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/synapse-src && PORT=5000 node coordinator/index.js"
waitForPort = 5000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 22
externalPort = 9000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[userenv]

[userenv.shared]
SSH_PRIVATE_KEY = """
-----BEGIN RSA PRIVATE KEY-----
MIIJKAIBAAKCAgEAtUUEqZujPIb4+Cl+fal+JUcCOwlAXhYNvlqK2R3oDJapmxgf
h3v2Z/ncwE6wNQ06ZSf4KdEZRhIjmzwK0tLnmCgTGouZC+4lgY4xm0fTN2vQZtYb
uqjawZngIfSO4vH5FaKlq3n/a6tqUYW7vY37iE1IX841Ru5wU4WexLZTKWJ9y8ef
ghM7cmkdDQILbSWxaISCDzrOWKL9YcYSvdm6/Tsthys3WbsrPy1/5Jj1u3mNT7/j
6/b0SOk7C1EhfZudxHzjg2ytvoy7LR2Cun5/lOcZQVFOXghsKO+3m19yz9xIowcJ
+DBi3/YSj+CdHEMkr2dBndWf/ZqZ9B8KapM+f9ugbnQ8PchkeP0pMhHmzj3+QX0J
eIgs+jG+SXitznND0YNk6XJMI3605AQ8yPtcnF2b9FU1HlfSw8R1yyn6qBexFWqo
axR68ytiPhZDFSGSp2AYchMdMCtXs4s5CTdCIxudadYNphx04FDn/l/nFeKInptz
jHdDFurg1OBA9BLuhjfotwTzBzHLMKdqcnlu4UhNFv/PBVkNiArS80zLUk1SttmQ
xE901h7uDePziSjQ4HrUIPwjDTamaNdg8ww4HG+OvSEgaDsii6XcD/hvyFu0XtWL
eFaGVVkHECpyKaZlqmlpe7VcaP11aQ8FMBclXO75ISmYLlxvs+DgyFushxUCAwEA
AQKCAgABBIMXGv/SrupLuwXnWYcoWT/0Cg8BsuDUX6iVuUiBy5W7qxTAO2FXKkID
lV2BYBKNb1OXaSxZu5qAvFijitoQfVxwGCEIPgfECgLmyC4xdTToDY3TIYVgNAeG
q/C3vvEtnn+3bk78BoFpYEASe28npSbBx5lTzYe1Zv5iGdOZMPZGVCz7Jgr9zy/B
0IVfu+gFT3B1z+1zy28d4vwHc1G3VWNMdeEQwKTTQmOMVRHUwdpZ0di1zNQzFZYb
2pJ+z0Zr4YybGAYuApcUFNfp8/GuPxGMpOgfoy9M7TLsF8rVS7tfqOzffGa4Xaaz
MT5d4oBHTiPXlD5am4kqOO4OH5yoni02btZWsDyB1b/jtKJWfdGEh8U2NE47TPJg
bo5WsFYwnZd7KLZoWl1GrZapIefQdllvjOh1MVEGDDx9yz8J+vFk0xrk7hGTzOV/
tL+MzSWXc11JsSVeDiFStD0fMXaQXeX2/DD0S3PPWAPPsupZOhtjCAtgOuJn8CWs
gR2X7GRLceefFijwX20Fv/jDaNup8ZEHT3zE+e1xHkkFyy0rgRGsRr2zQ11ql71Z
mHc74RGTy70rNMrUiZsV9/ZI5FKFmlnu/OAPqbJMBmAb3qHR5+webEmG6ogqrOX3
LM0dozeTLy7ZO40N94xCzVEezxhXUmFg4QMRnPIxp/ARLWBEOQKCAQEA2egNfScY
Goh2jLo6h3Z4cKeFCNOu9CClNU0tWHr5T/UlpEjBi0etXo2qYbX2UaESecIzhiN1
GtjjaEun3YLn2ws6T1pmatLig2bLiAYxGKNJ/LqQ9f3kkHQ2yVloSnO301HySHly
BmZaLarJZGSVErx1Q6bjpa8VOdH+R/S+aX+q8ny+bMuyGTatBOcHCyXxo5+pMexG
s6Atral8h5vm8vfXVh3yt+cvJVF+/OAJ1tn9dOms0J4+F1ARi9vClsvBa6Y5ePVc
1X03E35ImEnb40LLuNugCaEzCdK2UNyudL4OIp/LRIyET7k8QXi5YUUbQqWgKT0J
9GAoMzz/c+dTrQKCAQEA1PVcHiYeYQKipQr5uk2wcESTjHP2yzxTs8fDvy1FCpMR
YTeU86tpAYF6F2s+HpuQu/hwQvk82VMmg5EJ6QZ3XQhb1Qy0JgcEq/LpE8Vorn8K
J02axF19AlvrdsoMQKV8EOvQ+NVyBSsi0RVlpbfdjy6Ui6TOrNZn8Ex8ZvFv8jmu
xkY6u4GXSsBYCOd3heQugwIOLWNSIwUQzEcJ+C26ZJxjBfyzviltWKEjPQLn4xIs
9vsEdi1QPVhgbFZECnHMz3cX4aeCjJTETZ65dzW6Fm7mJxnQfU/pnRhaAyFS1lsU
/nVwYU3wNEYMvdS9iHxoXlBsm/a+HLMbGO3d0beuCQKCAQAnndvN9CyarlK3VShM
9ooBGUPDjhDRy5mdrjFfU8Q9+DjmvF+LvfVUKndemmF1B86/GkKZ0Zp5zhLSJGcZ
i7IxjcIFKU9TfpG2CBta2J1WeGF8NEMkpgtHBAnt43ZlitJR9iURbhr/9N3STamd
ufesV10OdqoOtl0qjPYpCOMRdSeUPH+2cfYoRVuBd6s9KKHc+KsfK3DTOXz0hMri
MML1S3/35Sv6qWpV45It0WGYkTtWZSGJMCvjuyflgIfJOLQqqSbrydgd7Ez2G1CB
d3QlxkAZlLxs48TOtWN2IhkJmoAhZWHkTZPEls3QrW0utQy2ujv7I2DK8Cx+3Ekp
PlZlAoIBAG3piTbiU7GcK5flV0jpyhPXwROv0oPIyiazBvvIAKdZipHTnyQ4pwSo
7/vgVPp1LjlmG4LloptESE+Fb0j/FmJE6yjF2sD5xFZ/E/8pV0MgvHvWmPeajOfH
y3rPA43mG2ecXonfmG7Eeb7SPVlP0aGR2AdO84DPVGv4/ggfuriZPvSE0NFwLEbf
iVBnLxBC2iKxz+FrLrx2Y9obHDEkYNyGvrEbYSXXueERod9efZJ8EgsTOZVJA+31
jCa+S3XckGnPvNqxmza1na+2KWE2sKndaRprP2k98oQrSmHtNBUAg5Blyq/eCwjf
0rmzcHNeSnvLJJNGwY6MfoLaWi9gjwkCggEBALnjaisuQCL9X9gXX8Ck1T9WF66U
ALvVcNbAmVbWVk1Fcij6nkUeTiVrA80YoosXMggo/1qCzeiQN8qQx0C/d3eTwyRX
KE5xhqRUic/LizBT/S/TZWTydKrZl8vZ0SIcGxvw/jKUvK/Bqmn7Vx7zy/RdSc/I
s5NpxZxy3JyLY20xTesq4zuG5BwC6dTTNQgsEGbYr44fhA1no4jOFuMgNHzdh9Fh
AXMnd2QxVTYuYWcteajMxkKXLoPSZnpw4smPe7iCo+Uyj6G70RLS5LndyW5GBvZB
GEp65NCwMqXzoMvyZflJhbZwUtn8WE+qODKW+OfBZxiscKHtCSXae+pzhoM=
-----END RSA PRIVATE KEY-----
"""
SSH_PUBLIC_KEY = """
-----BEGIN RSA PUBLIC KEY-----
MIICCgKCAgEAtUUEqZujPIb4+Cl+fal+JUcCOwlAXhYNvlqK2R3oDJapmxgfh3v2
Z/ncwE6wNQ06ZSf4KdEZRhIjmzwK0tLnmCgTGouZC+4lgY4xm0fTN2vQZtYbuqja
wZngIfSO4vH5FaKlq3n/a6tqUYW7vY37iE1IX841Ru5wU4WexLZTKWJ9y8efghM7
cmkdDQILbSWxaISCDzrOWKL9YcYSvdm6/Tsthys3WbsrPy1/5Jj1u3mNT7/j6/b0
SOk7C1EhfZudxHzjg2ytvoy7LR2Cun5/lOcZQVFOXghsKO+3m19yz9xIowcJ+DBi
3/YSj+CdHEMkr2dBndWf/ZqZ9B8KapM+f9ugbnQ8PchkeP0pMhHmzj3+QX0JeIgs
+jG+SXitznND0YNk6XJMI3605AQ8yPtcnF2b9FU1HlfSw8R1yyn6qBexFWqoaxR6
8ytiPhZDFSGSp2AYchMdMCtXs4s5CTdCIxudadYNphx04FDn/l/nFeKInptzjHdD
Furg1OBA9BLuhjfotwTzBzHLMKdqcnlu4UhNFv/PBVkNiArS80zLUk1SttmQxE90
1h7uDePziSjQ4HrUIPwjDTamaNdg8ww4HG+OvSEgaDsii6XcD/hvyFu0XtWLeFaG
VVkHECpyKaZlqmlpe7VcaP11aQ8FMBclXO75ISmYLlxvs+DgyFushxUCAwEAAQ==
-----END RSA PUBLIC KEY-----
"""
